@font-face {
    font-family: logo;
    src: url(fonts/Raker.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
#titre{
    color: #03045e;
    font-family: "Hubot Sans", serif;;
    font-weight: 400;   
}
header>nav.navbar .logo{
    font-family: logo;
}
#aside-header{
    height: 100vh;
    width: 20%;
    z-index: 5;
    border-right: 0.2px solid rgb(219, 219, 219);
    position: fixed;
}
main{
    margin-left: 20%;
    width: 80%;
    min-height: 100vh;
}
nav.navbar{
    height: 100VH;
}
header ul, header ul>li{
    width: 100%;
}
header ul>li, .logo{
    padding: 0 10%;
}
a.nav-link:not(.active){
    color: rgb(88, 88, 88);
    &:hover{
        color: rgb(255, 255, 255);
    }
}
a.nav-link.active{
    color: white !important;
}
.nav-item.active{
    background-color: #00B4D4
}
.nav-item:hover{
    background-color: #00b4d4c3;
}
@media screen and (max-width : 768px) {
    #aside-header{
        width: 100%;
        position: fixed;
        bottom: 0;
        height: auto;
        padding: 10px;
    }
    header>nav.navbar{
        flex-direction: row !important;
        background-color: white;
        height: auto;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0;
    }
    header>nav.navbar ul.navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    header>nav.navbar ul.navbar-nav li{
        flex: 1;
        &:hover>a{
            color: white !important;
        }
    }
    header>nav.navbar a>span, header>nav.navbar .logo, header>nav.navbar hr, header>nav.navbar .btn{
        display: none;
    }
    main{
        margin: 0;
        width: 100% !important;
    }
}